html, body{
    margin: 0;
    /* padding:0;
    height:100%; */
    background-color: rgb(240, 240, 227);
}
.containernav{
    width: 100%;
    min-width: max-content;
    /*border:1px solid black;*/
    overflow: hidden;
    margin:0 auto;
    margin-top: 0px;
}
.logo{
    float:left;
    margin-left: 20px;
    font-weight:bold;
    height:40px;
    width:100px;
    margin-top: 10px;
}
.home{
    text-decoration: none;
    color: white;
}
.logo > div{
    text-align:center;
    top:8px;
    position:relative;
}
#nav{
    position: fixed;
    background-color: rgb(24, 24, 24);
    z-index: 1;
}
.nav{
    min-width:500px;
    float:right;
    height:40px;
    margin-right:20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.navline{
    width: 100%;
    margin: 0;
    background: white;
    
}
.nav > a{
   color:white;
   font-weight:bold;
}
.li{
    margin-left:60px;
    top:8px;
    position:relative;
}
.navline{
    width: 100%;
    margin: 0;
    background: white;
    
}

.containerfooter{
    width: 100%;
    min-width: max-content;
    /*border:1px solid black;*/
    overflow: hidden;
    margin:0 auto;
}

.footer{
    height:250px;
    width: 100%;
    background-color: rgb(24, 24, 24);
    position: absolute;
    bottom: 0;
}

.top-container{
    position: relative;
    top: 70px;
    overflow: hidden;
    margin:0 auto;
    margin-bottom:80px;
}
.main-container{
    margin:0 auto;
    margin-bottom: 30px;
}
h1{
    text-align:center;
}
table{
    margin:0 auto;
}
.link{
    margin:0 auto;
    width:100px;
    margin-bottom:20px;
    text-align:center;

}
#writer{
    width:fit-content;
}
#date{
    width:fit-content;
}
#title{
    width:400px;
}
.none{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    height: 500px;
}

.num, .name, .date{
    text-align: center;
    padding: 5px;
}
.title a{
    text-decoration-line: none;
    color: black;
}

.container{
    width: max-content;
    /*border:1px solid black;*/
    margin:0 auto;
    margin-bottom: 40px;

}
.pager{
    margin: 0 auto;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

.previous a, .next a{
    text-decoration: none;
}

.active a{
    text-decoration: none;
    color: rgb(158, 158, 158);
    margin: 5px;
}

.now a{
    text-decoration: none;
    color: black;
    margin: 5px;
}