.container{
    width: 100%;
    border:1px solid black;
    overflow: hidden;
    margin:0 auto;
    margin-bottom:10px;
}
.logo{
    float:left;
    margin-left: 20px;
    font-weight:bold;
    height:40px;
    width:100px;

}
.home{
    text-decoration: none;
    color: black;
}
.logo > div{
    text-align:center;
    top:8px;
    position:relative;
}

.nav{
  
    width:500px;
    float:right;
    height:40px;
    margin-right:20px;

}
.nav > a{
   color:black;
   font-weight:bold;
}
.li{
    margin-left:60px;
    top:8px;
    position:relative;
}
.login{
    border:1px solid black;
    width:25%;
    margin:20px;
    height:200px;
    float:left;
    text-align:center;
}
.login > p{
    font-size:25px;
    font-weight:bold;
}
.login input[type=text], .login input[type=password]{
    width:150px;
    height:20px;
    margin-bottom:10px;
    margin-left:35px;
    float:left;

}

.login input[type=submit]{
    height:60px;
    margin-left:-20px;
    font-weight:bold;
    border:none;
    background:lightgray;
    border-radius:5px;
    cursor:pointer;
}
.login input[type=submit]:hover{
    background:gray;
}
.test{
    border:1px solid black;
    width:67%;
    margin:20px;
    height:200px;
    float:right;
}

.left{
    float:left;
    width:25%;
    margin:20px;
    height:400px;
    border:1px solid black;
}

.right{
    float:right;
    width:67%;
    margin:20px;
    height:400px;
    border:1px solid black;
}

.board{
    float:left;
    font-size:20px;
    font-weight:bold;
    margin-left:40px;
    margin-top:15px;
}
.plus{
    float:right;
    font-size:30px;
    font-weight:bold;
    margin-right:40px;
    text-decoration:none;
    color:black;

}
.left p{
    
    font-size:20px;
    font-weight:bold;
    margin:10px 0px 10px 40px;

}
.left hr{
    margin:0px 30px 40px 30px;
}
.right hr{
    margin:50px 30px 40px 30px;
}
.footer{
    height:200px;
}