<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://localhost:3001/board.css">
    <title>게시판</title>
</head>
<body>
    <h1>게시판</h1>
    <div class="link">
        <a href="write"><span>글작성</span></a>
    </div>

    <table border="1">
        <tr>
            <th class="writer">작성자</th>
            <th class="date">날짜</th>
            <th class="title">제목</th>
        </tr>
        <% rows.forEach((row, index)=>{ %>
            <tr>
                <td><%= row.name %></td>
                <td><%= row.date %></td>
                <td><%= row.title %></td>
            </tr>
        <% }) %>
    </table>
</body>
</html>