<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://localhost:3001/header.css">
    <title>Title</title>
</head>
<body>
    
    <div class="containernav" id="nav">
        <nav>
            <div class="logo">
                <div><a href="/" class="home">LOGO</a></div>
            </div>

            
            <% if ( typeof user != 'undefined') { %>
                <div class="logout">
                    <span class="user-name"><%= user.name %></span><span class="user-name-etc">&nbsp;님</span>
                    <a href="/logout" class="logout-button">LOGOUT</a>
                </div>
            <% } else { %>
                <div class="login">
                    <a href="/loginpage"><button class="login-button">LOGIN</button></a>
                </div>
            <% } %>




            <div class="nav">
                <a href="/"><span class="li">HOME</span></a>
                <a href="#"><span class="li">CONTENT</span></a>
                <a href="#"><span class="li">HOME</span></a>
                <a href="#"><span class="li">HOME</span></a>
            </div>

        </nav>
        <hr class="navline">
    </div>

</body>
</html>