<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://localhost:3001/signin.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="http://localhost:3001/signin.js"></script>
    <title>Title</title>
</head>
<body>
    
    <div class="containernav" id="nav">
        <nav>
            <div class="logo">
                <div><a href="/" class="home">LOGO</a></div>
            </div>

            <div class="nav">
                <a href="/"><span class="li">HOME</span></a>
                <a href="#"><span class="li">CONTENT</span></a>
                <a href="#"><span class="li">HOME</span></a>
                <a href="#"><span class="li">HOME</span></a>
            </div>

        </nav>
        <hr class="navline">
    </div>

    <div class="container">
        <div class="signin-box">
            <p class="signin-text">SIGNIN</p>
            <form class="signin-form" id="signupForm" method="POST" action="sign">

                <input type="text" class="id" id="id" name="id" placeholder="id">

                <input type="password" class="password" id="password" name="password" placeholder="password">

                <input type="text" class="nickname" id="nickname" name="nickname" placeholder="nickname">

                <input type="submit" value="SIGNIN">
            </form>
            <p class="etc">
                <span><a href="/loginpage">로그인하러 가기</a></span><br>
                <span><a href="/">홈으로</a></span>
            </p>
            
        </div>
    </div>

    <div class="containerfooter">
        <div class="footer">

        </div>
    </div>
</body>
</html>