<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://localhost:3001/write.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="http://localhost:3001/writeCheck.js"></script>
    <title>Title</title>
</head>
<body>
    <%-include('header.ejs')%>

    <div class="container">

    </div>
    <div class="title-container">
        
    </div>

    <div class="main-container">
        <form id="write-form" method="POST">
            <table class="table">
                <tr class="top">
                    <th colspan="2">글 작성하기</th>
                </tr>
                <tr class="empty">

                </tr>
                <tr>
                    <th class="title">글 제목</th>
                    <td><input type="text" name="title" class="input-title"></td>
                </tr>
                <tr>
                    <th class="name">작성자</th>
                    <td><input type="text" name="name" class="input-name" value="<%= user.name %>" readonly></td>
                </tr>
                <tr>
                    <th class="date">날짜</th>
                    <td ><input type="text" class="input-date" value="<%= date %>" readonly></td>
                </tr>
                <tr>
                    <th class="content">내용</th>
                    <td><textarea class="input-content" rows="20" name = "content"></textarea></td>
                </tr>
                <tr>
                    <td class="empty-td"></td>
                    <td class="button">
                        <input type="submit" value="완료" class="submit">
                        <input type="button" onclick="javascript:location.href='/main'" value="취소" id="close">
                        
                    </td>
                    
                </tr>
                <tr class="empty">

                </tr>
                
            </table>

        </form>
    </div>

    <div class="container">

    </div>

    <%-include('footer.ejs')%>
    
</body>
</html>