<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://localhost:3000/write.css">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <form>
            <h1>글 작성</h1>

            <div class="title">
                <a>제목</a> <input type="text">
            </div>
            <div class="writer">
                <a>작성자</a> <input type="text">
            </div>
            <div class="content">
                <a>내용</a> <textarea cols="45" rows="20"></textarea>
            </div>
            <button onclick="">닫기</button>
            <input type="submit" value="작성" class="submit">
        </form>
    </div>
</body>
</html>