<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://localhost:3001/write.css">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <form method="POST" action="insert">
            <h1>글 작성</h1>

            <div class="title">
                <a>제목</a> <input type="text" name="title">
            </div>
            <div class="writer">
                <a>작성자</a> <input type="text" name="name">
            </div>
            <div class="content">
                <a>내용</a> <textarea cols="45" rows="20" name = "content"></textarea>
            </div>
            <input type="button" onclick="javascript:location.href='/main'" value="취소" id="close">
            <input type="submit" value="완료" class="submit">
        </form>
    </div>
</body>
</html>